<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connect to Kisan</title>

    <!-- Google Font -->
    <link th:href="@{/https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap}" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    
    <style>
		.set-bg{
			background-size: contain;
		}		
	</style>
		
</head>

<body>
	<div th:include="/header::header(cart=${headercarts},total=${headertotals},wishlist=${headerwishlists})"></div>
    <!-- Hero Section Begin -->
    		<div th:include="/header::hero(department=${headerdepartments})"></div>
    	<!-- Hero Section End -->
    <section class="hero">
        <div class="container">
            <div class="row">
				<div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <div class="hero__item set-bg" th:data-setbg="'MyFiles/Products/'+${banner.bannerimage}">
                        <div class="hero__text">
                            <span th:text="${banner.title}"></span>
                            <h2><pre th:text="${banner.heading}"></pre></h2>
                            <p th:text="${banner.info}">Free Pickup and Delivery Available</p>
                            <a th:href="@{/shop-grid/{data}(data=${banner.department})}" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3" th:each="slider_product : ${slider_products}">
                        <div class="categories__item set-bg" th:data-setbg="'MyFiles/Products/'+${slider_product.productimage}">
                            <h5><a th:href="@{/product_details/{id}(id=${slider_product.id})}" th:text="${slider_product.title}"></a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul >
                            <li class="active" data-filter="*">All</li>
                            <li th:each="department : ${headerdepartments}" th:text="${department.departmentname}"
                            th:data-filter="'#'+${department.id}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div th:each="featured_product : ${featured_products}"  class="col-lg-3 col-md-4 col-sm-6 mix" th:id="${featured_product.department}">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" th:data-setbg="'MyFiles/Products/'+${featured_product.productimage}">
                            <ul class="featured__item__pic__hover">
								<li>
									<form th:action="@{/add_to_wishlist}" th:object="${wishlist}" method="POST">
				                        <input type="hidden" name="productid" th:value="${featured_product.id}">
				                        <a ><button type="submit" style="border: none; background-color: transparent;" ><i class="fa fa-heart"></button></i></a>
			                        </form>
								</li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li>
									<form th:action="@{/add_to_cart}" th:object="${cart}" method="POST">
				                        <input type="hidden" name="quantity" value="1" min="1" max="10">
				                        <input type="hidden" name="productid" th:value="${featured_product.id}">
				                        <a ><button type="submit" style="border: none; background-color: transparent;" ><i class="fa fa-shopping-cart"></button></i></a>
			                        </form>
								</li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a th:text="${featured_product.title}" th:href="@{/product_details/{id}(id=${featured_product.id})}" ></a></h6>
                            <h6><del th:text="${featured_product.mrp}"></del></h6>
                            <h5 th:text="${featured_product.sellingprice}"></h5>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
						<a th:href="@{/shop-grid/{data}(data=${firstsubbanner.department})}">
                        	<img th:src="'MyFiles/Products/'+${firstsubbanner.bannerimage}" alt="">
                    	</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <a th:href="@{/shop-grid/{data}(data=${secondsubbanner.department})}">
                        	<img th:src="'MyFiles/Products/'+${secondsubbanner.bannerimage}" alt="">
                    	</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel" >
                            
                            <div th:each="latest_product : ${latest_products}" >
								
                            <div class="latest-prdouct__slider__item"> 
                                <a th:href="@{/product_details/{id}(id=${latest_product.id})}"  class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img th:src="'MyFiles/Products/'+${latest_product.productimage}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6 th:text="${latest_product.title}">Crab Pool Security</h6>
                                        <del><span th:text="${latest_product.mrp}">$30.00</span></del>
                                        <span th:text="${latest_product.sellingprice}">$30.00</span>
                                    </div>
                                </a>
                            
                            </div>
                            </div>
                            
                           
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top Rated Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div th:each="rated_product : ${rated_products}" >
								
                            <div class="latest-prdouct__slider__item"> 
                                <a th:href="@{/product_details/{id}(id=${rated_product.id})}"  class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img th:src="'MyFiles/Products/'+${rated_product.productimage}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6 th:text="${rated_product.title}">Crab Pool Security</h6>
                                        <del><span th:text="${rated_product.mrp}">$30.00</span></del>
                                        <span th:text="${rated_product.sellingprice}">$30.00</span>
                                    </div>
                                </a>
                            
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Review Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div th:each="review_product : ${review_products}" >
								
                            <div class="latest-prdouct__slider__item"> 
                                <a th:href="@{/product_details/{id}(id=${review_product.id})}"  class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img th:src="'MyFiles/Products/'+${review_product.productimage}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6 th:text="${review_product.title}">Crab Pool Security</h6>
                                        <del><span th:text="${review_product.mrp}">$30.00</span></del>
                                        <span th:text="${review_product.sellingprice}">$30.00</span>
                                    </div>
                                </a>
                            
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <!--<section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Cooking tips make cooking simple</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Visit the clean farm in the US</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Blog Section End -->
<div th:insert="/footer::footer"></div>
</body>

</html>